{% extends "base.html" %}

{% block content %}


    <div class="container content">
        <h1 class="mt-4">Welcome to the RCSI PKD tracker</h1>
        <div class="mt-4">
            <p>Total participants: {{ unique_id_count }}</p>
            <p>Participants sequenced: {{ vcf_count }}</p>
        </div>
    </div>
    <!Note that this is my new bit, not sure if this works>
    <div class="plot-container">
        <img src="{{ url_for('generate_plot') }}" alt="plot 1">
    </div>


{% endblock %}